@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
   background-color: rgb(243, 239, 239);
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    display: flex;
    justify-content: center;
    padding-top: 115px;
}

.pincipal {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    justify-content: space-around;

}

div {
    border-radius: 15%;
    padding: 20px;
}

.container1 {
    background-color: #27613B;
    height: 300px;
    width: 300px;
    
}

.container2 {
    background-color: #07471E;
    height: 300px;
    width: 300px;
}

.container3 {
    background-color: #0E8F3B;
    height: 300px;
    width: 300px;
}
